In [4]:
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split
import pandas as pd
# import seaborn as sns
# from sklearn.ensemble import RandomForestClassifier
# from sklearn import preprocessing
import math

rng = np.random.default_rng(51)

In [7]:
df = pd.read_csv('letter-recognition.data', header=None)

In [8]:
df

      0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0      T   2   8   3   5   1   8  13   0   6   6  10   8   0   8   0   8
1      I   5  12   3   7   2  10   5   5   4  13   3   9   2   8   4  10
2      D   4  11   6   8   6  10   6   2   6  10   3   7   3   7   3   9
3      N   7  11   6   6   3   5   9   4   6   4   4  10   6  10   2   8
4      G   2   1   3   1   1   8   6   6   6   6   5   9   1   7   5  10
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
19995  D   2   2   3   3   2   7   7   7   6   6   6   4   2   8   3   7
19996  C   7  10   8   8   4   4   8   6   9  12   9  13   2   9   3   7
19997  T   6   9   6   7   5   6  11   3   7  11   9   5   2  12   2   4
19998  S   2   3   4   2   1   8   7   2   6  10   6   8   1   9   5   8
19999  A   4   9   6   6   2   9   5   3   1   8   1   8   2   7   2   8

[20000 rows x 17 columns]

In [9]:
y = df[0]
X = df.loc[:, df.columns != 0]

In [11]:
X

       1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0       2   8   3   5   1   8  13   0   6   6  10   8   0   8   0   8
1       5  12   3   7   2  10   5   5   4  13   3   9   2   8   4  10
2       4  11   6   8   6  10   6   2   6  10   3   7   3   7   3   9
3       7  11   6   6   3   5   9   4   6   4   4  10   6  10   2   8
4       2   1   3   1   1   8   6   6   6   6   5   9   1   7   5  10
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
19995   2   2   3   3   2   7   7   7   6   6   6   4   2   8   3   7
19996   7  10   8   8   4   4   8   6   9  12   9  13   2   9   3   7
19997   6   9   6   7   5   6  11   3   7  11   9   5   2  12   2   4
19998   2   3   4   2   1   8   7   2   6  10   6   8   1   9   5   8
19999   4   9   6   6   2   9   5   3   1   8   1   8   2   7   2   8

[20000 rows x 16 columns]

In [ ]:
le = preprocessing.LabelEncoder()
for column_name in df.columns:
    df[column_name] = le.fit_transform(df[column_name])
y = df.iloc[:, 0:1].values.ravel()
X = df.iloc[:, 1:23]